@model Banka.Models.Karticka

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Karticka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brojNaKarticka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brojNaKarticka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipNaKarticka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipNaKarticka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paricnaSostojba)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paricnaSostojba)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.korisnickSmetka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.korisnickSmetka.bankarskiBroj)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
