@model Banka.Models.EmployeeFirms

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeFirms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vrabotenKoordinator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vrabotenKoordinator.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kompaniskaSmetka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kompaniskaSmetka.bankarskiBroj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tip)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
