@model Banka.Models.EmployeeFirms

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeFirms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vrabotenKoordinator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vrabotenKoordinator.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kompaniskaSmetka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kompaniskaSmetka.bankarskiBroj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
